ion-card {
    display: flex;
    flex-direction: row;
    // align-items: baseline;
}

.checkbox-icon {
    display: flex;
    flex-direction: column;
}

.cash-icon {
    font-size: 100px;
   
}

.cod-checkbox {
    text-align: -webkit-center;
    text-align: center;
}
